
@media screen and (max-width:576px) {
    
    *{
        margin-left: 0;
        margin-right: 0;
    }
    img{
        max-width: 100%;
    }
    .logo-container {
    flex-direction: column;
    column-gap:20px;
    
    }
    
    .nav-container{

        flex-direction: column;
    }


    .nav-items-container{

       flex-direction: column;}
    


   
        

    
}